.main {
  background-color: grey;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.title-flex-container {
  display: flex;
  flex-direction: row;
  background: white;
}

.box {
  height: 100px;
  min-width: 100px;
}

.one {
  align-items: center;
  border: solid black;
  background: red;
  flex-grow: 0;
  text-align: center;
  color: #fff;
  display: block;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.two {
  align-items: center;
  border: solid black;
  background: green;
  flex-grow: 0;
  text-align: center;
  color: #fff;
  display: block;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.three {
  border: solid black;
  background: blue;
}

div h1{
  text-decoration: none;
  text-align: start;
  color: #fff;
  display: block;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div h2{
  text-decoration: none;
  text-align: start;
  color: #fff;
  display: block;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-content {
  /* display: block; */
}

nav {
  display: flex;
  background: #333;
  justify-content: space-between
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  }

nav a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav li {
  flex: 1 1 0;
}

nav a:hover {
  background-color: #555;
}

a.gh {
  background: url(../assets/img/github-mark-white.png) no-repeat center;
  background-size: 80%;
}

.social a {
  text-indent: -10000px;
}

.social {
  max-width: 40px;
}

nav ul.social {
  flex: 1 1 0;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    flex: 1 1 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
}
